/* Fonts */
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans.woff2), url(../fonts/opensans.woff);
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensanslight.woff2), url(../fonts/opensanslight.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroylight.woff2), url(../fonts/gilroylight.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroyextrabold.woff2), url(../fonts/gilroyextrabold.woff);
    font-weight: 800;
    font-style: normal;
}
/* Variables */

:root {
    --special-yellow-light: #F7E296;
    --special-yellow-dark: #F0C52E;
    --special-yellow: #FFC600;
    --basic-white: #FFFFFF;
    --basic-black: #000000; 
    --basic-grey: #E5E5E5;
    --special-black: #363636;
}

* {
    box-sizing: border-box;
}

/* Grid*/

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
  
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header */
.main-header {
    background-color: var(--special-yellow-light);
    padding: 30px 60px;
    margin-top: 40px;
}

.main-header-logo {
    justify-self: start;
    position: absolute;
    top: 20px;
}

.header-funcs {
    display: flex;
}

.search {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    font-family: "Open Sans";
    font-style: normal;
    opacity: 0.3;
}

.search:hover {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    font-family: "Open Sans";
    font-style: normal;
    opacity: 0.6;
}

.login-link {
    margin-left: auto;
}

.comparison {
    margin-left: 239px;
}

.basket {
    margin-left: 63px;
}

.login-link,
.comparison,
.basket {
    text-decoration: none;
    color: var(--basic-black);
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    font-family: "Open Sans";
    font-style: normal;
}

.login-link:hover,
.comparison:hover,
.basket:hover {
    opacity: 0.6; 
}

.login-link:active,
.comparison:active,
.basket:active {
    opacity: 0.3;
}


.main-header-bar {
    background-color: var(--special-yellow-light);
}

.main-navigation {
    margin-top: 50px;
}

.main-nav-container {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.main-nav-list:nth-child(2) {
    margin-left: auto;
}

.main-nav-list:nth-child(3) {
    margin-left: 90px;
}

.main-nav-list:nth-child(4) {
    margin-left: 111px;
}

.main-nav-item {
  
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
}
.main-nav-item:hover {
    opacity: 0.6;
}
.main-nav-item:active {
    opacity: 0.3;
}

.sec-child:nth-child(2) {
    margin-left: auto;    
}


/* Center */

.features {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.features-item {
    margin: 0;
    padding: 0;
}

.main-feature {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    font-family: "Gilroy";
}

.main-feature-text{
    font-family: "Open Sans";
}

.details {
    text-decoration: none;
    background-color: var(--special-yellow-dark);
    color: var(--basic-black);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    font-family: "Gilroy";
    justify-content: center;
    max-width: 220px;
    padding: 0;
}

.specification-item {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    font-family: "Gilroy";
}

.specification-value {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    font-family: "Gilroy";
}

.products-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-item {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: var(--basic-black);
    font-family: "Gilroy";
}

.product-item:active {
    opacity: 0.3;
}

.additional {
    background-color: var(--basic-grey);
}

.slider-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.slider {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slider-item {
    background-color: var(--special-yellow-dark);
    font-family: "Gilroy";
    font-weight: 800;
    justify-content: center;
    padding: 0;
    min-width: 160px;
}
.slider-item:active,
.slider-item:focus {
    background-color: var(--basic-black);
    color: var(--special-yellow-light);
    width: 160px;
}

.control {
    margin: 0;
    padding: 0;
}

.control-item {
    list-style-type: none;
}

.control-item-1 {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    font-family: "Gilroy";
    margin: 0;
}

.control-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    font-family: "Open Sans";
}

.producer-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Shop info */

.us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-us-grid {
    margin: 0;
    padding: 0;
}

.about-us {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    font-family: "Gilroy";
}

.about-us-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    font-family: "Open Sans";
}

.partners-item {
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    font-family: "Gilroy";
}

.more-about-us, 
.write-us {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--special-yellow-dark);
    color: var(--basic-black);
    text-decoration: none;
    font-family: "Gilroy";
}

.contacts-grid {
    margin: 0;
    padding: 0;
}

.contacts-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    font-family: "Open Sans";
}

/* Footer */
.main-footer {
    background-color: var(--special-black);
    margin-top: 40px;
}

.footer-grid {
    display: grid;
}

.footer-funcs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-funcs {
    margin-left: auto;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.address {
    color: var(--basic-white);
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    font-family: "Open Sans";
}
.login-link-footer,
.comparison-footer,
.basket-footer {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.comparison-footer {
    margin-left: 63px;
}

.basket-footer {
    margin-left: 62px;
}

.sec-nav {
    display: flex;
}

.sec-nav-list {
    list-style-type: none;
}

.sec-nav-list:nth-child(2) {
    margin-left: 36px;
}

.sec-nav-list:nth-child(3) {
    margin-left: 36px;
}

.sec-nav-item {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-white);
    text-decoration: none;
    font-family: "Gilroy";
}
.sec-nav-item:hover {
    opacity: 0.6;
}

.sec-nav-item:active {
    opacity: 0.3;
}

.phone-text {
    color: var(--basic-white);
    font-family: "Open Sans";
    margin-left: auto;
}

.phone {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    text-decoration: none;
    font-family: "Open Sans";
}

.social {
    display: flex;
    justify-content: center;
}

.sites {
    display: flex;
    min-width: 136px;
    justify-content: space-between;
}

/* Catalog */

/* Main */

.catalog-title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

.inner-pages {
    list-style-type: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
    color: var(--basic-black);
}
.inner-pages-link {
    text-decoration: none;
    color: var(--basic-black);
}

.filter {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sort {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sort-list {
    list-style-type: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.sort-link {
    text-decoration: none;
    color: var(--basic-black);
}

/* Catalog products */
.catalog-list {
    list-style-type: none;
}

.catalog-item {
    text-decoration: none;
    color: var(--basic-black);
}

.catalog-item-title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
}

.basket-link {
    background-color: var(--special-yellow-dark);
    font-family: "Gilroy";
    font-weight: 800;
    color: var(--basic-black);
    opacity: 0.7;
    text-decoration: none;
}
.basket-link:hover {
    background-color: var(--special-yellow-dark);
    font-family: "Gilroy";
    font-weight: 800;
    opacity: 1;
}

.basket-link:active {
    background-color: var(--special-yellow-dark);
    font-family: "Gilroy";
    font-weight: 800;
    opacity: 0.3;
}

.pagination-list {
    list-style-type: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

}


.pagination-item-link {
    text-decoration: none;
    color: var(--basic-black);
    opacity: 0.3;
}

.pagination-item-link:hover {
    opacity: 0.6;
}

.pagination-item-link:active {
    opacity: 1;
}

.current {
    text-decoration: none;
    color: var(--basic-black);
    opacity: 1;
    cursor: not-allowed;
}



